@import "tailwindcss";

body {
  background-color: #F9FAFB;
}

@utility border-borderp {
    border-color: #E4E7EB;
}
  
@utility text-texts {
    color: #4B5563;
}

@utility bg-hoverp {
  background-color: #F3F4F6;
}